<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Login </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username" type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block"
          >Submit</ion-button
        >
        <router-outlet></router-outlet>
      </ion-col>
    </ion-row>
  </form>

  <ion-text class="flex jc-center ai-center" id="register_link">
    No Account?&nbsp;<a routerLink="/register">Create One</a>
  </ion-text>
  <router-outlet></router-outlet>
</ion-content>
