<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-list>
      <ion-item>
        <ion-label fixed>Username</ion-label>
        <ion-input type="text" placeholder="Username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="text" placeholder="Password" name="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>