.back-arrow {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.toolbar-title {
  width: 100%;
}

.toolbar-title {
  position: relative;
}

form {
  height: 100%;
}

ion-textarea {
  min-height: 75vh;
}
